.two{
    margin-top: -225px;
    margin-left: 300px;
}

.three{
    margin-top: 20px;
}
.four{
    margin-top: -470px;
    margin-left: 600px;
}

.five{
    margin-top: 30px;
    margin-left: 600px;
}

.six{
    margin-top: -227px;
    margin-left: 300px;
}

